ansimarkup==1.5.0
async-timeout==3.0.1
attrs==21.4.0
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
idna==3.3
multidict==6.0.2
pyfiglet==0.8.post1
PyGetWindow==0.0.9
Pygments==2.11.2
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.28
pytweening==1.0.4
rich==11.2.0
setuptools==57.0.0
textual==0.1.15
typing-extensions==4.1.1
wheel==0.36.2
yarl==1.7.2
